.border-wrap {
    padding: 5px;
    background: rgb(235, 94, 40);
    background: linear-gradient(141deg, rgba(235, 94, 40, 1) 0%, rgba(64, 61, 57, 1) 50%);
}

.text {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

.info-box {
    margin: 1em 1em;
    background: #252422;
    background-color: #252422;
}

.text,
.value {
    margin: 0;
    padding: 10px;
}

.text::before,
.value::before {
    margin: 0;
}

.info-box::before {
    margin: 0;
}