[part="overlay"] {
  background: var(--primary-contrast-color);
  background: linear-gradient(130deg, rgba(235, 94, 40, 1) 0%, rgba(64, 61, 57, 1) 50%, rgba(37, 36, 34, 1) 100%);
  box-shadow: 0 0 var(--mega-shadow-range) var(--primary-contrast-color);
  height: auto;
  width: 25vw;
}

[part="content"] {
  padding: 7px;
  padding-top: 20px;
  border-radius: var(--lumo-border-radius-m);
}

[part="backdrop"] {
  background-color: var(--lumo-shade-80pct);
}

vaadin-form-layout {
  width: 100%;
}