.content-background {
    background: #252422;
}

.add-button {
    background-color: #eb5e28;
    color: #CCC5B9;
}

.track-grid,
.track-grid>*,
.track-grid>*>* {
    text-align: center;
}

th {
    background-color: #403D39;
}

[part="cell"] {
    background-color: #403D39;
}

[part="row"] {
    background-color: black;
}

vaadin-vertical-layout {
    background: rgb(64, 61, 57);
    background: linear-gradient(0deg, rgba(64, 61, 57, 1) 0%, rgba(37, 36, 34, 1) 100%);
}

[slot="app-bar-content"] {
    color: #CCC5B9;
    font-size: 25px;
}

.dialog-layout {
    background: #252422;
}
.date-label {
    text-align: center;
    margin-top: 1em;
}
