.content-background {
    background: #252422;
}

.add-button {
    background-color: #eb5e28;
    color: #CCC5B9;
}

.track-grid,
.track-grid>*,
.track-grid>*>* {
    text-align: center;
}

th {
    background-color: #403D39;
}

[part="cell"] {
    background-color: #403D39;
}

[part="row"] {
    background-color: black;
}

[slot="app-bar-content"] {
    color: #CCC5B9;
    font-size: 25px;
    box-shadow: none;
}

.dialog-layout {
    background: #252422;
}

.date-label {
    text-align: center;
    margin-top: 1em;
}

.statistics-div {
    width: 25%;
    height: 25%;
    background-color: #252525;
    box-shadow: 0 0 5px #eb5e28;
    margin: 15px;
}

.app-menu-item:hover,
.app-menu-item[highlight] {
    background: rgba(204, 197, 185, 0.1);
}

iron-overlay-backdrop {
    background-color: #252525;
}

:host(.opened) {
    opacity: 0.8;
}