[part="label"] {
    color: #CCC5B9;
}

[part~="increase-button"],
[part~="decrease-button"],
[part~="toggle-button"]::before {
    color: #CCC5B9;
    font-size: 30px;
}

:host(:not([readonly])) [part$="button"]:hover {
    color: #EB5E28!important;
}

[part="input-field"] {
    background-color: #403D39;
    height: 2.7em;
}

[part="value"] {
    color: #CCC5B9;
}
[slot="label"]{
    color:  #CCC5B9;
}