html{
    --lumo-base-color: #403D39;
    --lumo-body-text-color: #CCC5B9;
    --lumo-font-size-s: 20px;
    --primary-text-color: #CCC5B9;
    --app-layout-app-color: #CCC5B9;
   --app-layout-bar-background-base-color: #403d39;
  --lumo-primary-color: #EB5E28;
}