@media(max-width: 799px) {
    .menu-button {
        display: none;
    }
}

@media(max-width: 800px) {
    .overflow-button {
        display: block;
    }
}

@media(min-width: 800px) {
    .overflow-button {
        display: none;
    }
}

body {
    background-color: #293241;
}

.menu-bar {
    background: rgb(41, 50, 65);
    background: linear-gradient(90deg, rgba(41, 50, 65, 1) 5%, rgba(61, 90, 128, 1) 100%, rgba(152, 193, 217, 1) 100%);
}

.context-menu-item {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

vaadin-context-menu-list-box {
    padding: 10px;
}

.add-button {}