<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="header(titleName)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"
          shrink-to-fit=no>
    <link href="#" rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <link href="#" rel="stylesheet" th:href="@{'/css/global.css'}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <title th:text="${titleName}"></title>
    <script crossorigin="anonymous"
            src="https://kit.fontawesome.com/766ef7f87f.js"></script>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap" rel="stylesheet">
</head>

<body>


<div th:fragment="scripts">
    <script crossorigin="anonymous "
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
    <script
            crossorigin="anonymous "
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "></script>
    <script th:src="@{ '/js/bootstrap.min.js'} "></script>
</div>

</body>

</html>