<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(titleName='Add new Character')">
</head>

<body class="d-flex flex-column">

<div th:replace="fragments/menuBar.html :: menuBar(active=2)"></div>

<div class="container-fluid flex-grow-1">


    <form class="align-middle my-5 p-5 container-fluid loginForm col-6 offset-3" method="post" th:action="@{'/characters/validate'}"
          th:object="${characterPojo}">

        <h2 class="text-center fs-1">Add new Character</h2>


        <input class="text-center font-large mt-5 form-control  " name="characterName" placeholder="Character name"
               th:classappend="${#fields.hasErrors('characterName')} ? is-invalid : ''"
               type="text">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('characterName')}">
            <ul class="p-0 error-list">
                <li class=" mx-2 text-center" th:each="err : ${#fields.errors('characterName')}" th:text="${err}"></li>
            </ul>
        </div>
        <button class="btn btn-secondary offset-4 col-4 mt-4 text-center" type="submit">Submit</button>

    </form>
</div>


<div th:replace="fragments/footer.html :: footer"></div>
<div th:replace="fragments/header.html :: scripts"></div>

</body>

</html>