<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymelaf.org">

<head th:insert="fragments/header.html :: header(titleName='List of characters')">

</head>

<body class="d-flex flex-column">

    <div th:replace="fragments/menuBar.html :: menuBar(active=2)"></div>

    <div class="flex-grow-1 container-fluid">

        <button class="btn btn-outline-secondary col-4 offset-4 my-5" th:href="@{#}">Dodaj nową postać</button>

        <hr>

        <table class="col-10 my-4 mx-auto">
            <tr class="my-5 p-5">
                <th class="col-4 text-center border-start border-bottom p-3 font-large">Character name</th>
                <th class="col-4 text-center border-start border-bottom p-3 font-large">Total War Paint</th>
                <th class="col-4 text-center border-start border-bottom border-end p-3 font-large">Total Garrison Resources</th>
            </tr>
            <tr th:each="character : ${accountCharacters}" th:object="${character}">
                <td th:text="*{characterName}" class="text-center border-start p-3"></td>
                <td th:text="*{warPaint}" class="text-center border-start p-3"></td>
                <td th:text="*{garrisonResources}" class="text-center border-start border-end p-3"></td>
            </tr>
        </table>
    </div>

    <div th:insert="fragments/footer.html :: footer"></div>
    <div th:insert="fragments/header.html :: scripts"></div>

</body>

</html>