<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{login}" method="POST" th:object="${loginRequest}">

        <label>Login</label><input type="text" name="login" th:field="*{login}">
        <label>Password</label><input type="text" name="password" th:field="*{password}">
        <button type="submit">submit</button>

    </form>
</body>

</html>