<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragments/header.html :: header(titleName='Login Page')">
</head>

<body class="h-100 d-flex align-items-center container">
    <div class=" row container rounded col-md-6 offset-md-3 p-0 loginForm">
        <h1 class="col-12 my-4">Login</h1>
        <div class="row-fluid ">
            <form th:action="@{validate} " method="POST" th:object="${loginRequest}">
                <div class="alert-danger rounded col-md-6 offset-md-3 error-box" th:if="${#fields.hasErrors('*')}">
                    <ul class="p-2 m-2 error-list">
                        <li class="my-1 mx-2 text-center" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input placeholder="Login" class="col-6 offset-3 my-2 border-1 rounded text-center bg-dark fs-4" type="text " th:name="login"><br>
                <input placeholder="Password" class="col-6 offset-3 my-2 border-1 rounded text-center bg-dark fs-4 " type="password" th:name="password"><br>
                <button class="col-4 offset-4 my-3 btn btn-primary " type="Submit ">Submit</button>
            </form>
        </div>
    </div>

    <div th:insert="fragments/header.html :: scripts"></div>

</body>

</html>