<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head(titleName='Register')">
</head>
<body class="d-flex flex-column">

	<div class="container flex-grow-1 align-items-center  d-flex">

		<div class="row-flud align-middle col-6 offset-3">

			<form th:action="@{/account/register/validate}" method="post"
				th:object="${registerModel}" class=" loginForm p-4 ">

				<h2 class="text-center col-12 fs-1 mt-3 mb-5">Create new
					account</h2>
				<hr class="my-5">
				<div class="form-group my-3 col-10 offset-1">
					<label for="login">Login</label> <input id="login" name="login"
						th:value="*{login}" type="text" class="form-control "
						th:classappend="${#fields.hasErrors('login')}? is-invalid : ''">
					<div th:if="${#fields.hasErrors('login')}" class="invalid-feedback">
						<ul class="error-list p-0 m-0 text-center">
							<li th:each="err : ${#fields.errors('login')}" th:text="${err}"></li>
						</ul>
					</div>

				</div>
				<div class="form-group my-3 col-10 offset-1">
					<label for="password">Password</label> <input id="password"
						name="password" th:value="*{password}" type="password"
						class="form-control " th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''">
					<div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
						<ul class="error-list p-0 m-0 text-center">
							<li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
						</ul>
					</div>

				</div>
				<div class="form-group my-3 col-10 offset-1 ">
					<label for="repeatedPassword form-control-label">Repeat Password</label> <input
						id="repeatedPassword" name="repeatedPassword"
						th:value="*{repeatedPassword}" type="password"
						class="form-control  form-control-danger" th:classappend="${#fields.hasErrors('repeatedPassword')} ? is-invalid : ''">
					<div th:if="${#fields.hasErrors('repeatedPassword')}" class="invalid-feedback">
						<ul class="error-list p-0 m-0 text-center">
							<li th:each="err : ${#fields.errors('repeatedPassword')}" th:text="${err}"></li>
						</ul>
					</div>
				</div>
				<button type="submit" class="btn btn-primary col-4 offset-4 my-4">Submit</button>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer.html :: footer"></div>
	<div th:replace="fragments/header.html :: scripts"></div>
</body>
</html>